.c-app {
  display: grid;
  align-content: space-between;
  grid-template-rows: 70px 1fr 100px;
}

.c-app__header {
  max-height: 70px;
  display: grid;
  padding: 20px;
}

.c-app-nav {
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.c-app-nav__item {
  display: inline-block;
}

.c-app__content {
  display: grid;
  justify-content: center;
  align-content: center;
}

.c-app__footer {
  text-align: center;
  background-color: white;
}

/* START Component: Keypress Dots */
.c-keypress-sequence__dot {
  --dot-size: 10px;
  --dot-color: #2b2b2b;
  display: inline-block;
  width: var(--dot-size);
  height: var(--dot-size);
  border: 1px solid var(--dot-color);
  border-radius: 50%;
  margin: auto 10px;
  transition: 
    box-shadow 150ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-keypress-sequence__dot--active {
  background-color: var(--dot-color);
}

.c-keypress-sequence__instructions {
  font-weight: 400;
  margin: 15px 0 15px 0;
}
/* END Component: Keypress Dots */


/* START Component: Current App */
.c-current-app {
  text-align: center;
}

.c-current-app__icon-container {
  --icon-size: 200px;
  width: var(--icon-size);
  height: var(--icon-size);  
}

.c-current-app__icon,
.c-current-app__icon-clone {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #2b2b2b;
}

.c-current-app__icon-clone {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.c-current-app__icon-clone:hover,
.c-current-app__icon-clone--unlocked {
  animation: expandAndFade 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes expandAndFade {
  from {
    transform: translateY(0px) scale(1);
    opacity: 1;    
  }
  to {
    transform: translateY(-8px) scale(1.5);
    opacity: 0;    
  }  
}

.c-current-app__title {
  margin: 15px auto;
}
/* END Component: Current App */

/* Functional Helpers */
.align-right { text-align: right; }